* {
    margin: 0;
}
:root {
    --main-text-color: rgb(0, 0, 0);
    --main-bg-color: rgb(238, 238, 238)
}

body {
    background-color: var(--main-bg-color);
}

.input-section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-section input, .input-section select, #submit-book-btn {
    display: block;
    width: 100%;
}